node_nodules/
*.h5
weights/
.ipynb_checkpoints
.DS_Store
__pycache__/
*.log
npm-debug.log
*.env
*.class
*.jar
build/Release
*.apk
.gradle/
runs/
mons/
recording/
codehold/
*.mp4
node_nodules/
.ipynb_checkpoints
.DS_Store
__pycache__/
*.log
npm-debug.log
*.env
*.class
*.jar
build/Release
*.apk
.gradle/
runs/
mons/
recording/
weights/